<%- include('includes/head.ejs') %>

</head>
<body>
    <%- include('includes/navigation.ejs') %>
    <main>
        <div style="margin: 18vw;">
            <img src="/pic/submission.jpg" alt="" style="margin-left: 14vw; height: 10vw; width: 20vw;">
            <h1 style="color: aliceblue;"><%= firstname%> <%= lastname%> , your response has been submitted</h1>
        </div>
        <!-- <h1 style="color: aliceblue;">your response has been submitted.</h1> -->
    </main>
    <%- include('includes/end.ejs') %>